<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav id="nv">
        <div class="nav">
            <div><h1>MEDIUM</h1></div>
            <div><button>Get Started</button></div>
        </div>
        <div id="open">
            <% for (let item of foundpic) { %>
                <img src="<%= item.img %>" alt="">
                <h2><%= item.name %></h2>
                <h4><%= item.desc %></h4>
            <% } %>
        </div>
        
    </nav>
</body>
</html> 